#### Concatenating Strings:

What would the output of the following block of code be?

In [1]:
a = 'Hello'
b = 'World'
print(a + b, '!')

HelloWorld !

#### Fill in the Blank With an Operator

In the code below, the underscore represents a blank. Fill this blank with an operator so that the output of the code is 3.

In [2]:
a = 18
b = 5
print(a or b)

18

In [3]:
a = 18
b = 5
print(a * b)

90

In [4]:
a = 18
b = 5
print(a / b)

3.6

In [5]:
a = 18
b = 5
print(a ** b)

1889568

In [6]:
a = 18
b = 5
print(a % b)

3

In [7]:
a = 18
b = 5
print(a and b)

5

#### Check Even or Odd

Which of the following functions correctly checks if the provided number is even or odd?

In [8]:
def check_even_or_odd(num):
    if num % 2 == 0:
        print('Even')
    else:
        print('Odd')
check_even_or_odd(1)
check_even_or_odd(2)

Odd
Even

In [9]:
def check_even_or_odd(num):
    if num / 2 == 0:
        print('Even')
    else:
        print('Odd')
check_even_or_odd(1)
check_even_or_odd(2)

Odd
Odd

In [10]:
def check_even_or_odd(num):
    if num % 2 == 1:
        print('Even')
    else:
        print('Odd')
check_even_or_odd(1)
check_even_or_odd(2)

Even
Odd

In [11]:
def check_even_or_odd(num):
    if num * 2 == 0:
        print('Even')
    else:
        print('Odd')
check_even_or_odd(1)
check_even_or_odd(2)

Odd
Odd

#### Remove All Whitespace

How would you remove all whitespace from the following string?

In [12]:
theme_song = 'I wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.'
theme_song.strip()

'I wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.'

In [13]:
theme_song = 'I wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.'
theme_song.join(theme_song.split())

'II wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.wannaI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.beI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.theI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.veryI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.best,I wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.likeI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.noI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.oneI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.everI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.was.I wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.ToI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.catchI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.themI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.isI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.myI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.realI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.test,I wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.toI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.trainI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.themI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.isI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.myI wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.cause.'

In [14]:
theme_song = 'I wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.'
theme_song.replace(' ', '')

'Iwannabetheverybest,likenooneeverwas.Tocatchthemismyrealtest,totrainthemismycause.'

In [15]:
theme_song = 'I wanna be the very best, like no one ever was. To catch them is my real test, to train them is my cause.'
[ch for ch in theme_song if not ch.isspace()]

['I',
 'w',
 'a',
 'n',
 'n',
 'a',
 'b',
 'e',
 't',
 'h',
 'e',
 'v',
 'e',
 'r',
 'y',
 'b',
 'e',
 's',
 't',
 ',',
 'l',
 'i',
 'k',
 'e',
 'n',
 'o',
 'o',
 'n',
 'e',
 'e',
 'v',
 'e',
 'r',
 'w',
 'a',
 's',
 '.',
 'T',
 'o',
 'c',
 'a',
 't',
 'c',
 'h',
 't',
 'h',
 'e',
 'm',
 'i',
 's',
 'm',
 'y',
 'r',
 'e',
 'a',
 'l',
 't',
 'e',
 's',
 't',
 ',',
 't',
 'o',
 't',
 'r',
 'a',
 'i',
 'n',
 't',
 'h',
 'e',
 'm',
 'i',
 's',
 'm',
 'y',
 'c',
 'a',
 'u',
 's',
 'e',
 '.']

#### Discount All Prices

Consider the following dictionary which contains the prices of various fruits in rupees:<br>
Which code snippet will create a new dictionary discounted_items where the price of each item is reduced by 10%?

In [16]:
items = {'apple': 50, 'banana': 20, 'cherry': 75, 'date': 100}
discounted_items = {}
for item, price in items.keys():
    discounted_items[item] = price * 0.9
print(discounted_items)

ValueError: too many values to unpack (expected 2)

In [17]:
items = {'apple': 50, 'banana': 20, 'cherry': 75, 'date': 100}
discounted_items = {}
for item, price in items.items():
    discounted_items[item] = price * 0.1
print(discounted_items)

{'apple': 5.0, 'banana': 2.0, 'cherry': 7.5, 'date': 10.0}

In [18]:
items = {'apple': 50, 'banana': 20, 'cherry': 75, 'date': 100}
discounted_items = {}
for price in items.values():
    discounted_items[price] = price * 0.9
print(discounted_items)

{50: 45.0, 20: 18.0, 75: 67.5, 100: 90.0}

In [19]:
items = {'apple': 50, 'banana': 20, 'cherry': 75, 'date': 100}
discounted_items = {}
for item, price in items.items():
    discounted_items[item] = price * 0.9
print(discounted_items)

{'apple': 45.0, 'banana': 18.0, 'cherry': 67.5, 'date': 90.0}

#### Employees in Both Departments

Consider the following sets containing the employees of two departments:<br>
How would you find the common employee(s) who is/are in both departments?

In [20]:
dept_A = {'Akriti', 'Behzad', 'Charu'}
dept_B = {'Behzad', 'Dylan', 'Esha'}
dept_A | dept_B

{'Akriti', 'Behzad', 'Charu', 'Dylan', 'Esha'}

In [21]:
dept_A = {'Akriti', 'Behzad', 'Charu'}
dept_B = {'Behzad', 'Dylan', 'Esha'}
dept_A ^ dept_B

{'Akriti', 'Charu', 'Dylan', 'Esha'}

In [22]:
dept_A = {'Akriti', 'Behzad', 'Charu'}
dept_B = {'Behzad', 'Dylan', 'Esha'}
dept_A & dept_B

{'Behzad'}

In [23]:
dept_A = {'Akriti', 'Behzad', 'Charu'}
dept_B = {'Behzad', 'Dylan', 'Esha'}
dept_A - dept_B

{'Akriti', 'Charu'}

#### Adult or Minor

What will the following code output if the user inputs 30 when provided with the input() prompt?

In [24]:
age = 30
if int(age) >= 18:
    print('Adult')
else:
    print('Minor')

Adult

#### While Loop to For Loop

How would you recreate the following block of code by using a for loop?

In [25]:
text = 'hello'
result = ''
i = 0
while i < len(text):
    result += text[i].upper()
    i += 2
print(result)

HLO

In [26]:
result = ''
for i in range(len(text)):
    result += text[i].upper()
print(result)

HELLO

In [27]:
result = ''
for i in range(len(text)):
    if i % 2 == 1:
        result += text[i].upper()
print(result)

EL

In [28]:
result = ''
for char in text:
    result += char.upper()
print(result)

HELLO

In [29]:
result = ''
for i in range(0, len(text), 2):
    result += text[i].upper()
print(result)

HLO

#### Logical Operator Precedence

What would the value of result1 and result2 be after the following operation?

In [30]:
x = 3 > 8
y = 19 != 19.0
z = not False
result1 = x or y and z
result2 = (x or y) and z
print(result1)
print(result2)

False
False