# Session 2: Data Structures in Python

## Lists

In [4]:
# Remove this 
user1 = ['Alice Kim', 1965, 58]

In [8]:
# Extract user id from list
user_id = user1[0].split()[0][0] + user1[0].split()[1][0] + str(user1[1]) + str(user1[2])
print("The user_id for the user {0} with year of birth {1} and age {2} is {3}".format(user1[0], user1[1], user1[2], user_id))

The user_id for the user Alice Kim with year of birth 1965 and age 58 is AK196558

In [9]:
# Present info for multiple users and store the info as nested lists
user_list = [['Alice Kim', 'Eric Lee', 'Paul Kim', 'Ben Kim', 'Brian Wu'], 
             [1965, 1983, 1994, 1972, 1994],
             [58, 40, 29, 51, 29]]

In [11]:
print(user_list)

[['Alice Kim', 'Eric Lee', 'Paul Kim', 'Ben Kim', 'Brian Wu'], [1965, 1983, 1994, 1972, 1994], [58, 40, 29, 51, 29]]

In [12]:
# Extract the names list from the nested list (the first list in the nested list)
names = user_list[0]
print(names)

['Alice Kim', 'Eric Lee', 'Paul Kim', 'Ben Kim', 'Brian Wu']

In [18]:
# Extract the years list from the nested list (the first list in the nested list)
years = user_list[1]
print(names)

[58, 40, 29, 51, 29]

In [17]:
# Extract the ages list from the nested list (the first list in the nested list)
ages = user_list[2]
print(names)

[58, 40, 29, 51, 29]

In [24]:
# Number of users
# Number of elements in any of the above sub-lists
print(len(names))
print(len(user_list[1]))

5
5

In [26]:
# Add one more list to the nested list
sub_status_list = [True, True, False, False, True]
user_list.append(sub_status_list)
print(user_list)

[['Alice Kim', 'Eric Lee', 'Paul Kim', 'Ben Kim', 'Brian Wu'], [1965, 1983, 1994, 1972, 1994], [58, 40, 29, 51, 29], [True, True, False, False, True], [True, True, False, False, True]]

In [27]:
# Number of data fields
# Number of lists in the nested list
print(len(user_list))

5

## Sets

In [31]:
# Convert yob list into set
unique_user_yob = set(user_list[1])

In [32]:
# Find the number of unique elements in the set
print(len(user_yob))

4

In [33]:
# Unique year of births
print(unique_user_yob)

{1994, 1972, 1965, 1983}

In [34]:
# Candidate year of births set
candidate_yob_set = set([1965, 1994, 2000])

In [41]:
# Find out the year of births are in the candidate years of birth set, but not in the data set
print(candidate_yob_set - unique_user_yob)

{2000}

## Dictionaries

In [37]:
# Creating a dictionary
user_dict = {"Names" : ('Alice Kim', 'Eric Lee', 'Paul Kim', 'Ben Kim', 'Brian Wu'),
             "YOB" : (1965, 1983, 1994, 1972, 1994),
             "Age" : (58, 40, 29, 51, 29)}

# Print Names field from the above dictionary
print(user_dict["Names"])

('Alice Kim', 'Eric Lee', 'Paul Kim', 'Ben Kim', 'Brian Wu')

In [40]:
# Insert new key value pair into a dictionary - call it "Sub_status"
sub_status_list = (True, True, False, False, True)
user_dict["sub_status"] = sub_status_list

In [42]:
print(user_dict)

{'Names': ('Alice Kim', 'Eric Lee', 'Paul Kim', 'Ben Kim', 'Brian Wu'), 'YOB': (1965, 1983, 1994, 1972, 1994), 'Age': (58, 40, 29, 51, 29), 'Sub_status': (True, True, False, False, True), 'sub_status': (True, True, False, False, True)}

In [44]:
print(len(user_dict.keys()))

5

# Problem Statement: Temperature Data set
You are provided with data of hourly temperature readings for seven consecutive days(Mon-Sun) for a particular week in Seattle, and the objective is to extract relevant information from the dataset.

In [46]:
# Hourly temperature data for a week
temp_list = [[281.72, 281.72, 281.71, 281.70, 281.69, 281.69, 281.68, 281.67, 281.66, 281.66, 281.65, 281.64, 281.63, 281.63, 281.62, 282.71, 285.05, 287.97, 290.61, 292.06, 293.68, 295.32, 295.18, 296.11],
             [295.24, 294.38, 292.28, 291.12, 289.93, 287.87, 287.14, 286.54, 286.16, 285.31, 284.30, 283.96, 283.60, 283.23, 283.50, 284.57, 285.64, 286.71, 287.42, 288.61, 289.13, 289.41, 289.18, 288.95],
             [288.79, 287.47, 286.01, 284.85, 283.91, 283.31, 283.07, 283.15, 282.51, 281.98, 281.49, 281.14, 280.59, 279.65, 279.15, 279.72, 282.40, 284.72, 286.03, 287.19, 288.68, 289.56, 290.05, 289.98],
             [289.60, 288.40, 286.38, 285.56, 284.45, 283.92, 283.25, 282.59, 281.92, 281.78, 281.63, 281.08, 280.64, 281.14, 280.08, 280.70, 282.98, 284.62, 286.61, 287.45, 289.22, 290.21, 289.94, 290.01],
             [289.85, 288.82, 287.60, 285.82, 284.58, 284.12, 283.63, 282.98, 282.68, 282.38, 281.77, 281.47, 281.06, 280.55, 280.65, 281.00, 283.49, 286.17, 287.58, 289.49, 292.11, 292.85, 292.69, 292.85],
             [292.05, 290.34, 288.05, 286.46, 285.37, 285.04, 284.38, 283.73, 283.07, 282.87, 280.77, 280.32, 280.01, 279.77, 279.54, 279.63, 282.48, 287.17, 289.47, 291.63, 293.42, 293.95, 294.78, 294.10],
             [293.62, 291.88, 290.03, 288.43, 287.15, 286.78, 286.32, 285.17, 283.78, 282.96, 282.93, 281.96, 282.02, 281.26, 280.25, 281.01, 283.15, 286.49, 289.87, 291.42, 292.46, 293.35, 294.32, 294.85]]

In [47]:
# Output the temperature for Sunday noon, 7th day, 12th hour
print(temp_list[6][11])

281.96

In [ ]:
# Output the highest temp on Sunday
print(max(