In the last session, we had a look at the String data type which could be used to store character values. Now let's try building an application which records a customer's detail and assign it a unique user id number generated randomly.

In [1]:
# We would ask the user for his name and mobile number
name = input("What's your name :")
number = input("What's your number :")

What's your name : Thang
What's your number : 29

In [2]:
print(name, number)

Thang 29

In [3]:
from random import seed
from random import randint

value = randint(100, 999)
print(value)

839

In [4]:
print(name, number, value)

Thang 29 839

In [5]:
list = [name, number, value]
print(list)

['Thang', '29', 839]

<h1 style="color:Brown">Lists</h1>

- Lists are an ordered sequnce of mixed data types.
- Lists are written as comma-separated  elements within square brackets

In [6]:
# Introduction
L = ["India", 23, 6, "Mumbai"]
print(L)

['India', 23, 6, 'Mumbai']

In [7]:
# Nested List
L = ["Chemistry", "Biology", [1994, 2004], 4]
print(L)

['Chemistry', 'Biology', [1994, 2004], 4]

In [8]:
# Indexing
print(L[0])

Chemistry

In [9]:
print(L[2])

[1994, 2004]

In [10]:
print(L[-1])

4

In [11]:
print(L[-2])

[1994, 2004]

In [12]:
print(L[-2][0])

1994

In [13]:
# Slicing
print(L[1:3])

['Biology', [1994, 2004]]

In [14]:
# Membership in Lists
L1 = [1, 2, 3, 4]
print(1 in L1)
print(20 in L1)

True
False

In [15]:
# List Concatanetion
L

['Chemistry', 'Biology', [1994, 2004], 4]

In [16]:
new_L = L + [5, 8]
print(new_L)

['Chemistry', 'Biology', [1994, 2004], 4, 5, 8]

In [17]:
# Replace "Biology" with "Physics"
L = ['Chemistry', 'Biology', [1994, 2004], 4]

L[1] = "Physics"
print(L)

['Chemistry', 'Physics', [1994, 2004], 4]

In [18]:
# extend()
L = ['Chemistry', 'Biology', [1994, 2004], 4]

L.extend([5, 8])
print(L)

['Chemistry', 'Biology', [1994, 2004], 4, 5, 8]

In [19]:
# append()
L = ['Chemistry', 'Biology', [1994, 2004], 4, 5, 8]

L.append([5, 8])
print(L)

['Chemistry', 'Biology', [1994, 2004], 4, 5, 8, [5, 8]]

In [20]:
L = ['Chemistry', 'Biology', [1994, 2004], 4, 5, 8, [5, 8]]

L.append(123)
print(L)

['Chemistry', 'Biology', [1994, 2004], 4, 5, 8, [5, 8], 123]

In [21]:
# del Command
L = ["Chemistry", "Biology", [1994, 2004], 4, 5, 8, [5, 8], 123]

del L[0]
print(L)

['Biology', [1994, 2004], 4, 5, 8, [5, 8], 123]

In [22]:
L = ["Chemistry", "Biology", [1994, 2004], 4, 5, 8, [5, 8], 123]

del L[0:2]
print(L)

[[1994, 2004], 4, 5, 8, [5, 8], 123]

In [23]:
# pop()
L = ["Chemistry", "Biology", [1994, 2004], 4, 5, 8]

print(L.pop())
print(L)

8
['Chemistry', 'Biology', [1994, 2004], 4, 5]

In [24]:
# remove
L = ["Chemistry", "Biology", [1994, 2004], 4, 5, 8]

L.remove("Biology")
print(L)

['Chemistry', [1994, 2004], 4, 5, 8]

In [25]:
# Sorting Lists
L = [32, 24, 1, 3, 8]

L.sort()
print(L)

[1, 3, 8, 24, 32]

In [26]:
L.sort(reverse=True)
print(L)

[32, 24, 8, 3, 1]

#### Difference between sort and sorted

In [27]:
A = ["Orange", "Strawberry", "Mango"]
print(A)

['Orange', 'Strawberry', 'Mango']

In [28]:
B = A.sort()
print(A)
print(B)

['Mango', 'Orange', 'Strawberry']
None

In [29]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)
print(A)
print(C)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

- Question

In [30]:
# Indexing from the End
# Suppose list_1 is [2, 33, 222, 14, 25]. What is list_1[-5]?

In [31]:
list_1 = [2, 33, 222, 14, 25]
print(list_1[-5])

2

In [32]:
# I Lost Everything!
# What would be the output of the code above?

In [33]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [34]:
# Sorted List
# Consider the following list:

In [35]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

- Practice

<h5>List_remove_append</h5>
<b>Description</b><br>
Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.<br>
<br>
<b>Sample Input:</b><br>
['SAS', 'R', 'PYTHON', 'SPSS']<br>
<br>
<b>Sample Output:</b><br>
['SAS', 'R', 'PYTHON', 'SPARK']<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [36]:
input_list = ['SAS', 'R', 'PYTHON', 'SPSS']
input_list[3] = "SPARK"
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

<h5>List to String</h5>
<b>Description</b><br>
Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:<br>
<i>Pythons syntax is easy to learn & Pythons syntax is very clear</i><br>
Note that there is a space on both sides of '&' (as usual in English sentences).<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [37]:
input_list = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
print("{0} & {1}".format(input_list[0], input_list[1]))

Pythons syntax is easy to learn & Pythons syntax is very clear

#### Shadow Copying

In [38]:
A = ["Orange", "Strawberry", "Mango"]

In [39]:
B = A

In [40]:
print(A, B)

['Orange', 'Strawberry', 'Mango'] ['Orange', 'Strawberry', 'Mango']

In [41]:
A[0] = "Apple"
print(A, B)

['Apple', 'Strawberry', 'Mango'] ['Apple', 'Strawberry', 'Mango']

In [42]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]
print(A, B)

['Orange', 'Strawberry', 'Mango'] ['Orange', 'Strawberry', 'Mango']

In [43]:
A[0] = "Apple"
print(A, B)

['Apple', 'Strawberry', 'Mango'] ['Orange', 'Strawberry', 'Mango']

- Question

In [44]:
# I Will Find You, Python.
# How will I extract Python from the nested list

In [45]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
print(input_list[2][0])

Python

- Practice

<h5>String Split</h5>
<b>Description</b><br>
Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.<br>
A sample output of the input 'Kumar_Ravi_003' is:<br>
<i>Ravi</i><br>
<i>Kumar</i><br>
<i>003</i><br>
Note that you need to <b>print in the order</b> first name, last name and customer code.<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [46]:
input_str = "Kumar_Ravi_003"

print(input_str.split("_")[1])
print(input_str.split("_")[0])
print(input_str.split("_")[2])

Ravi
Kumar
003

Hmm, that works. But what if I would like to add some security and make user id un-changeable or as we call it in programming - immutable, in that case, we'll use a tuple. 

So in this session, we are going to learn more about another new word or a data type actually which is called "Tuple"

<h1 style="color:Brown">Tuples</h1>

- Tuples are an ordered sequence of mixed data types.
- Tuples are written as comma-separated  elements within parenthesis

In [47]:
t = ("disco", 12, 4.5)
print(t)

('disco', 12, 4.5)

In [48]:
type(t)

tuple

<h3>Tuples can be defined is various ways</h3>

#### A tuple can be defined without using parenthesis

In [49]:
sample_tuple = 1, 2, 3, 4
print(sample_tuple)

(1, 2, 3, 4)

#### A tuple can be defined without using parenthesis

In [50]:
sample_tuple = 1,
print (sample_tuple)

(1,)

In [51]:
sample_tuple = 1 # This is not a tuple
type(sample_tuple)

int

In [52]:
sample_tuple = (1) # This is not a tuple
type(sample_tuple)

int

### Indexing in tuples

In [53]:
t = ("Behzah", 84, "Python")
print(t)

('Behzah', 84, 'Python')

In [54]:
print(t[-1])

Python

In [55]:
print(t[-2])

84

### Slicing

In [56]:
t = ("Mumbai", 84, "Python", 5, 2, 1)
print(t)

('Mumbai', 84, 'Python', 5, 2, 1)

In [57]:
# Slicing first 3 elements from t
print(t[0:3])

('Mumbai', 84, 'Python')

In [58]:
# Slicing first 3 elements from t
print(t[-2:])

(2, 1)

In [59]:
# no. of elements in tuple t
print(len(t))

6

#### Cancatenating tuples

In [60]:
tup1 = ("This", "is", "session", 2)
tup2 = ("on", "tuples")

In [61]:
# Adding contents of tup2 to tup1 and storing in tup3
tup3 = tup1 + tup2

In [62]:
print(tup3)

('This', 'is', 'session', 2, 'on', 'tuples')

#### sum() - min() - max()

In [63]:
t = (2, 4, 10, 4, -1)
print(sum(t))

19

In [64]:
print(min(t))

-1

In [65]:
print(max(t))

10

In [66]:
t = (2, "Python", 10, 4, -1)
print(min(t))

TypeError: '<' not supported between instances of 'str' and 'int'

- Question

In [67]:
# Tuple manipulation
# What will the tuple return with sum, min and max function?

In [68]:
t = (2,3.2,4,5)
print(sum(t))
print(min(t))
print(max(t))

14.2
2
5

In [69]:
# Tuples
# Let's say you have a tuple as x = (1,2,3) and while executing x[2] = 5, what will x return?

In [70]:
x = (1, 2, 3)
x[2] = 5

TypeError: 'tuple' object does not support item assignment

In [71]:
# It's the Time to Disco!
# What would be the output here?

In [72]:
t = ("disco", 12, 4.5)
print(t[0][2])

s

### Immutability of tuples

In [73]:
t = ("USA", 4, 3, "Disco", 7.5)
print(t)

('USA', 4, 3, 'Disco', 7.5)

In [74]:
t[3] = "Hard Rock"

TypeError: 'tuple' object does not support item assignment

In [75]:
new_t = t[0:3] + ("Hard Rock",) + t[4:]
print(new_t)

('USA', 4, 3, 'Hard Rock', 7.5)

In [76]:
print(t)

('USA', 4, 3, 'Disco', 7.5)

### Sorting a tuple

In [77]:
t = (2, 3, 5, 10, -1)
print(t)

(2, 3, 5, 10, -1)

In [78]:
x = sorted(t)
y = tuple(x)
print(y)

(-1, 2, 3, 5, 10)

### Nested Tuples

In [79]:
t = (1, 5, "Disco", ("Python", "Java"))
print(t)

(1, 5, 'Disco', ('Python', 'Java'))

In [80]:
print(t[3][1])

Java

### Packing and Unpacking In Tuples

In [81]:
t = (1, 2, 3, 4) # Packing
print(t)

(1, 2, 3, 4)

In [82]:
(a, b, c, d) = t # Unpacking
print(c)

3

In [83]:
(a, b, c) = t # Unpacking
print(c)

ValueError: too many values to unpack (expected 3)

#### dir() - to view the attributes or methods of an object

In [84]:
t = () # Empty tuple
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [85]:
t = (1,5,"Disco", ("Python", "Java"))
type(t[3])

tuple

- Question

In [86]:
# Tuple Indexing
# Suppose t = (1, 2, 4, 3).
# Which of the following statements would result in an error?
# More than one option are correct

In [87]:
t = (1, 2, 4, 3)
print(t[4])

IndexError: tuple index out of range

In [88]:
t = (1, 2, 4, 3)
t[3] = 5

TypeError: 'tuple' object does not support item assignment

In [89]:
t = (1, 2, 4, 3)
print(t[1:-4])

()

In [90]:
t = (1, 2, 4, 3)
print(len(t))

4

In [91]:
# Creating a Tuple
# Which of the following declarations can be used to create a Python tuple?
# More than one option may be correct.

In [92]:
x = ('2')
type(x)

str

In [93]:
x = 1, 2,
type(x)

tuple

In [94]:
x = ((1,2,3), 4,5)
type(x)

tuple

In [95]:
x = (Hello,'2','3')
type(x)

NameError: name 'Hello' is not defined

In [96]:
# A List and a Tuple Together?
# Can a list contain an integer as an element?
# Yes

In [97]:
# List Containing Integers
my_list = [1, 2, 3, 4, 5]
print(my_list)  # Output: [1, 2, 3, 4, 5]

# List Containing a Tuple
my_list = [1, 2, (3, 4), 5]
print(my_list)  # Output: [1, 2, (3, 4), 5]

# List Containing Mixed Data Types
my_list = [1, "hello", 3.14, (2, 3), [4, 5]]
print(my_list)  # Output: [1, 'hello', 3.14, (2, 3), [4, 5]]

[1, 2, 3, 4, 5]
[1, 2, (3, 4), 5]
[1, 'hello', 3.14, (2, 3), [4, 5]]

- Practice

<h5>Tuple</h5>
<b>Description</b><br>
Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, and convert it back to a tuple.<br>
<br>
<b>Sample Input:</b><br>
('Monty Python', 'British', 1969)<br>
<br>
<b>Sample Output:</b><br>
('Monty Python', 'British', 1969, 'Python')<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [98]:
input_tuple = ('Monty Python', 'British', 1969)
new_tuple = input_tuple + ('Python',)
print(new_tuple)

('Monty Python', 'British', 1969, 'Python')

Now that we know how to store multiple items together let us build another app that could store userid of our customers, which were randomly generated.

We have the following requirements from the app -
1. It shouldn't store duplicate values in the data-set
2. Since the userid are randomly generated the order doesn't matter
3. We need mutability i.e. if we want to delete a particular value we should be able to do so
4. We might frequently want to check whether a user-id is part of the existing data set so it should be able to perform this operation fast

For this use case, we could either use a unique function and maintain our list, but that would be comparatively time-consuming, so let's look at another data type provided by Python, which would be the best fit here.

<h1 style="color:Brown">Sets</h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets do not allow duplicates

In [99]:
l = [1, 3, 2, 4, 5, 5]
type(l)

list

In [100]:
set_l = set(l)
print(set_l)

{1, 2, 3, 4, 5}

In [101]:
type(set_l)

set

In [102]:
print(len(set_l))

5

In [103]:
set_l[0]

TypeError: 'set' object is not subscriptable

In [104]:
a = {1, 2, 3, 4, 5}
print(a)

{1, 2, 3, 4, 5}

In [105]:
a.add("Australia") #mutable
print(a)

{1, 2, 3, 4, 5, 'Australia'}

In [106]:
a.remove("Australia")
print(a)

{1, 2, 3, 4, 5}

In [107]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}
print(A, B)

{0, 2, 4, 6, 8} {1, 2, 3, 4, 5}

In [108]:
print (A | B) # Union
print (A.union(B))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}

In [109]:
print (A & B) # Intersection
print (A.intersection(B))

{2, 4}
{2, 4}

In [110]:
print (A - B) # Difference
print (A.difference(B))

{0, 8, 6}
{0, 8, 6}

In [111]:
print (A ^ B) # Symmetric difference

{0, 1, 3, 5, 6, 8}

In [112]:
print((A.union(B)).difference(A.intersection(B)))

{0, 1, 3, 5, 6, 8}

- Practice

<h5>Sets Practice</h5>
<b>Description</b><br>
Let’s say you have two lists A and B. Identify the elements which are common in the two lists A and B and return them in a sorted manner. For example<br>
<br>
<b>Sample Input:</b><br>
A = [5, 1, 3, 4, 4, 5, 6, 7]<br>
B = [3, 3, 5, 5, 1, 7, 2]<br>
<br>
<b>Sample Output:</b><br>
[1, 3, 5, 7]<br>
<br>
If you observe the sample output here you can see that
1. Though value 5 is repeated twice in both lists, in the final output it is present only once.<br>
2. The values are returned in a sorted manner with values incresing.<br>

<b>Execution time limit</b><br>
15 seconds

In [113]:
list_1 = [5, 1, 3, 4, 4, 5, 6, 7]
list_2 = [3, 3, 5, 5, 1 ,7 ,2]
print(list(set(list_1).intersection(list_2)))

TypeError: 'list' object is not callable

- Question

In [114]:
# I Am Unique
# What gets printed with the following set of instructions?

In [115]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

In this session, we are going to talk about dictionaries. In Python, we use dictionaries to store key-value pairs.
Here is an example -
Let's take the example of a customer as seen earlier.
Now a customer could have multiple attributes such as 
1. Name
2. Email
3. Userid
4. Address 
5. Phone number

Now each of these attributes would be our key and corresponding we'll have values against each on them

With a dictionary, we can store a bunch of key-value pairs, let us now see have a look at the 'Dictionary' data type in Python

<h1 style="color:Brown">Dictionaries</h1>

- A dictionary stores element as keys and values pairs.
- The key is like an index, it's is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

In [116]:
d = {"India" : "INR", "USA" : "USD", "French" : "Euro"}
print(d)

{'India': 'INR', 'USA': 'USD', 'French': 'Euro'}

In [117]:
print(d["USA"], d["India"])

USD INR

In [118]:
# Replace the value for a key in a dictionary
d["USA"] = "$"
print(d)

{'India': 'INR', 'USA': '$', 'French': 'Euro'}

In [119]:
# Insert a new key-value pair
d["Japan"] = "Yen"
print(d)

{'India': 'INR', 'USA': '$', 'French': 'Euro', 'Japan': 'Yen'}

In [120]:
# Delete a new key-value pair
del d["French"]
print(d)

{'India': 'INR', 'USA': '$', 'Japan': 'Yen'}

In [121]:
d["French"]

KeyError: 'French'

In [122]:
# Sorting a dictionary
sorted(d)

['India', 'Japan', 'USA']

In [123]:
d = {"India" : "INR", "USA" : "USD", "French" : "Euro"}

# extract all the values
d.values()

dict_values(['INR', 'USD', 'Euro'])

In [124]:
# extract all the keys
d.keys()

dict_keys(['India', 'USA', 'French'])

In [125]:
# update() method
d.update({'USA':'$'})
print(d)

{'India': 'INR', 'USA': '$', 'French': 'Euro'}

- Question

In [126]:
# Dictionary
# Using this document, answer the following question:
# Which of the following statements create a dictionary? Select all the options that apply. (More than one option may be correct.)

In [127]:
d = {}
type(d)

dict

In [128]:
d = {'a':1, 'b':2}
type(d)

dict

In [129]:
d = dict(a=1, b=2)
type(d)

dict

In [130]:
d = ('a':1, 'b':2)
type(d)

SyntaxError: invalid syntax (658412872.py, line 1)

In [131]:
# Dictionary Operation
# Suppose dict_1 = {"Python'':40, "R'':45}. What command should be used to delete the entry "R"?

In [132]:
dict_1 = {"Python":40, "R":45}
dict_1.delete('R':45)
print(dict_1)

SyntaxError: invalid syntax (3209470079.py, line 2)

In [133]:
dict_1 = {"Python":40, "R":45}
del dict_1['R']
print(dict_1)

{'Python': 40}

In [134]:
dict_1 = {"Python":40, "R":45}
del dict_1
print(dict_1)

NameError: name 'dict_1' is not defined

In [135]:
dict_1 = {"Python":40, "R":45}
del dict_1('R':40)
print(dict_1)

SyntaxError: invalid syntax (2629544868.py, line 2)

In [136]:
# Dictionary to List
# What would be the output of the following set of instructions?

In [137]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

TypeError: 'list' object is not callable

- Practice

<h5>Dictionary Coding</h5>
<b>Description</b><br>
Write code to fetch the profession of the employee with Employee id - 104 from an employee input given in the form of a dictionary where key represent employ id and values represent the name, age, and profession (in the same order).<br>
<br>
<b>Sample Input:</b><br>
Employee_data = {101 : ['Shiva', 24, 'Content Strategist'], 102 : ['Udit', 25, 'Content Strategist'], 103 : ['Sonam', 28, 'Sr Manager'], 104 : ['Ansari', 29, 'Product Lead'], 105 : ['Huzefa', 32, 'Project Manager']}<br>
<br>
<b>Sample Output:</b><br>
'Product Lead'<br>
<br>
Note: Assume that employee data would be available in the data provided to young.<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [138]:
employee_data = {101:['Shiva', 24, 'Content Strategist'], 102:['Udit', 25, 'Content Strategist'], 103:['Sonam', 28, 'Sr Manager'], 104:['Ansari', 29, 'Product Lead'], 105:['Huzefa', 32, 'Project Manager']}
print(employee_data[104][2])

Product Lead

<h5>Dict_Error</h5>
<b>Description</b><br>
From a Dictionary input_dict = {'Name' : 'Monty', 'Profession' : 'Singer'}, get the value of a key ‘Label’ which is not a part of the dictionary, in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA'.<br>
<br>
<b>Sample Input:</b><br>
{'Name' : 'Monty', 'Profession' : 'Singer' }<br>
<br>
<b>Sample Output:</b><br>
NA<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [139]:
input_dict = {'Name': 'Monty', 'Profession': 'Singer'}
input_dict['Label'] = 'NA'
print(input_dict['Label'])

NA

<h5>List of Values in a Dictionary.</h5>
<b>Description</b><br>
Create a SORTED list of all values from the dictionary input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}<br>
<br>
<b>Sample Input:</b><br>
{'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}<br>
<br>
<b>Sample Output:</b><br>
﻿['Amazon', 'Apple', 'RJIO', 'Twitter']<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [140]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
print(sorted(input_dict.values()))

['Amazon', 'Apple', 'RJIO', 'Twitter']