# Control Structures and Functions
Control structures are the essence of programming; they help computers do what they do best: automate repetitive tasks intelligently. The most common control structures are if-else statements, for and while loops, and list and dictionary comprehensions. This session will cover all these concepts.

### If statements
"IF" statements are imperative in Python and they help us build programs that could make decisions based on a specified condition

*   If I am tired, I'll go to bed

*   If I am hungry, I'll order food

Notice all these applications start with the word 'IF' and that is the first way we are going to control our applications.

And before writing down a code to mimic a decision, let us first look at the relational operators that would help us test or define some kind of relation between two entities.

Relational operators are used to test equality or inequality of a condition and that condition might change based on your preference.

```
Example -
If its raining == True:
  I'll get an umbrella

```

<h2 style = "color:Brown"> Relational Operators</h2>

- Compares the values on either side of the operator and returns and boolean value as True or False.

#### Double equal to operator

In [1]:
10 == 10

True

In [2]:
a = 5

In [3]:
a == 5

True

<h4 style = "color:Red">Note</h3>

##### '=' is an assignment operator; it is used to assign value to a variable on the left.

##### '==' is a relational operator; it is used for comparision of equality.

In [4]:
10 == 5

False

#### Not equal to operator

In [5]:
10 != 5

True

#### Greater than operator

In [6]:
10 > 5

True

#### Less than operator

In [7]:
10 < 5

False

#### Greater than equal to operator

In [8]:
10 <= 5

False

#### Less than equal to operator

In [9]:
10 >= 5

True

<h2 style = "color:Brown">Decision Making</h2>

Now let's get back to writing a conditional statement with the 'if' condition

To do that we would write it 'if' followed by an expression

#### Write a program to check value in variable x is less than 99

In [10]:
x = 45

if x < 99:
    #Inside if-statement
    print(x, "is less than 99")
else:
    print(x, "is greater than 99")

45 is less than 99

In [11]:
x = 450

if x < 99:
    #Inside if-statement
    print(x, "is less than 99")
else:
    print(x, "is greater than 99")

450 is greater than 99

#### Write a code to return YES if x lies in the range of 1000 to 1100, else return NO?

In [12]:
x = 395

if (x < 1000):
    #Inside if-statement
    print('No')
else:
    if (x > 1100 ):
        print('No')
    else:
        print('Yes')

No

In [13]:
x = 395

if (x > 1000 and x < 1100):
    print('Yes')
else:
    print('No')

No

## Logical Operators
We use logical operators in situations where we have multiple conditions

#### AND
#### OR
#### NOR
#### XOR

Are some of the common and most widely used logical operators
You can learn more about them from this link: https://pythonlessons.net/python-logic-gates/

#### Write a program to record the age of visitor and allows him to an exclusive children's day party hosted by Mr. Obama only if he or she is above 60 years or below 18 years of age

In [14]:
x = 29
if x <= 18 or x >= 60 :
    print("Welcome to Party!!")
else:
    print("Sorry!! you do not fit in the age criteria")

Sorry!! you do not fit in the age criteria

#### Write a program which offers various discounts based on purchase bills

In [15]:
shoppinng_total = 550
if shoppinng_total >= 500:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shoppinng_total >= 250:
    print("You won a discount voucher of flat 500 on next purchase")
elif shoppinng_total >= 100:
    print("You won a discount voucher of flat 100 on next purchase")    
else:
    print("OOPS!! no discount for you!!!")

You won a discount voucher of flat 1000 on next purchase

#### Example on nested if-else

In [16]:
world_cups = {2019 : ['England', 'New Zealand'], 2015 : ["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007 : ["Australia", "Sri Lanka"], 2003 : ["Australia", "India"]}

In [17]:
world_cups.keys()

dict_keys([2019, 2015, 2011, 2007, 2003])

In [18]:
world_cups[2003]

['Australia', 'India']

In [19]:
year = 2023

In [20]:
year

2023

In [21]:
if year in world_cups:
    #v Do some stuff
    if "New Zealand" in world_cups[year]:
        print("New Zealand made it to Finals")
    else:
        print("New Zealand could not make it to Finals")
else:
    print("World cup wasn't played in", year)

World cup wasn't played in 2023

In [22]:
world_cups[year]

KeyError: 2023

- Question

In [ ]:
#The If-Else Construct
#What is the output of the following code?

In [23]:
X = 12
if (X > 10 & X < 15):
print('YES')
else:
print('No')

IndentationError: expected an indented block after 'if' statement on line 2 (378220059.py, line 3)

In [24]:
#Maximum of Three Numbers
#Complete the piece of code to print a maximum of three variables, a, b and c.

In [25]:
a = 10
b = 16
c = 20
if (a > b,c):
    print("a")
elif (b > a,c):
    print("b")
else:
     print("c")

a

In [26]:
a = 10
b = 16
c = 20
if (a > b and a > c):
    print("a")
elif (b > a and b > c):
    print("b")
else:
     print("c")

c

In [27]:
a = 10
b = 16
c = 20
if (c < a and c < b):
    print("a")
elif (a < b):
    print("b")
else:
     print("c")

b

In [28]:
a = 10
b = 16
c = 20
if (b < a, a > c):
    print("a")
elif (b > a, c < b):
    print("b")
else:
     print("c")

a

In [29]:
#Reverse Engineering
#Which of the following sequences of inputs would give the output 'C' 'A' 'D' 'B' over multiple iterations?

In [30]:
input_list = [74, 93, 74, 88]
for score in input_list:
    if score >= 90:
       print('A')
    elif score >=80:
       print('B')
    elif score >= 70:
       print('C')
    elif score >= 60:
       print('D')
    else:
       print('F')

C
A
C
B

In [31]:
input_list = [72, 93, 70, 85]
for score in input_list:
    if score >= 90:
       print('A')
    elif score >=80:
       print('B')
    elif score >= 70:
       print('C')
    elif score >= 60:
       print('D')
    else:
       print('F')

C
A
C
B

In [32]:
input_list = [70, 91, 67, 88]
for score in input_list:
    if score >= 90:
       print('A')
    elif score >=80:
       print('B')
    elif score >= 70:
       print('C')
    elif score >= 60:
       print('D')
    else:
       print('F')

C
A
D
B

In [33]:
input_list = [78, 96, 35, 40]
for score in input_list:
    if score >= 90:
       print('A')
    elif score >=80:
       print('B')
    elif score >= 70:
       print('C')
    elif score >= 60:
       print('D')
    else:
       print('F')

C
A
F
F

In [34]:
#Can You Guess the Output?
#What will the following segment of code print? Try doing this verbally.

In [35]:
if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

In [36]:
#A Search for the Truth
#What will the following segment of code print? Try solving it verbally.

In [37]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

<h5>If-Else</h5>
<b>Description</b><br>
Write a code to check if the string in input_str starts with a vowel or not. Print capital YES or NO.<br>
For example, if input_str = 'analytics' then, your output should print 'YES'.<br>
<br>
<b>Sample Input:</b><br>
alpha<br>
<br>
<b>Sample Output:</b><br>
YES<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [38]:
input_str = 'Amit'
list_vowel = ['u', 'e', 'o', 'a', 'i', 'U', 'E', 'O', 'A', 'I']

if input_str[0] in list_vowel:
    print('YES')
else:
    print('NO')

YES

In [39]:
input_str = 'soham'
list_vowel = ['u', 'e', 'o', 'a', 'i', 'U', 'E', 'O', 'A', 'I']
if input_str[0] in list_vowel:
    print('YES')
else:
    print('NO')

NO

In [40]:
input_str = 'beta'
list_vowel = ['u', 'e', 'o', 'a', 'i', 'U', 'E', 'O', 'A', 'I']
if input_str[0] in list_vowel:
    print('YES')
else:
    print('NO')

NO

In [41]:
input_str = 'alpha'
list_vowel = ['u', 'e', 'o', 'a', 'i', 'U', 'E', 'O', 'A', 'I']
if input_str[0] in list_vowel:
    print('YES')
else:
    print('NO')

YES

<h2 style = "color:Brown">Loops and Iterations</h2>

Let’s look at a small example where you have a person’s income and expense data across five months in the form of a list, and you want to compute his savings across these five months. You may be thinking of doing this manually by taking the first elements from the two lists and subtracting them, then again taking the second elements and subtracting, and so on. This may look simple, but let’s say it is across 10 or 20 years. Would you do the same? 

This is where the concept of iteration comes in handy, as you are repeating the same operation multiple times. With this in mind, let’s learn more about it.

Let's start with a simple 'While' loop - 
##### A while loop begins with a keyword 'While' followed by an expression 
##### So While this condition is satisfied keep running the loop

In [42]:
#Let's create a pin checker which we generally have in our phones or ATMs
pin = input("Enter your four digit pin: ")
while pin != '1234':
    pin = input('Invalid input, please try again: ')
print("Pin validation successful.")

Enter your four digit pin:  123
Invalid input, please try again:  1234

Pin validation successful.

In [43]:
#Now if we want to add a maximum number of tries allowed condition we'll use the if loop
import sys    #Required for exiting the code and displaying an error
pin = input("Enter your four digit pin: ")
attempt_count = 1
while pin != '1234':
    if attempt_count >= 3:
        sys.exit("Too many invalid attempts")   #Error code
    pin = input('Invalid input, please try again: ')  
    attempt_count += 1
print("Pin validation successful.")

Enter your four digit pin:  1
Invalid input, please try again:  1235
Invalid input, please try again:  1236

SystemExit: Too many invalid attempts

C:\Users\thang\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py:3585: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [44]:
#Now if we want to add a maximum number of tries allowed condition we'll use the if loop
import sys    #Required for exiting the code and displaying an error
pin = input("Enter your four digit pin: ")
attempt_count = 1
while pin != '1234':
    if attempt_count >= 3:
        sys.exit("Too many invalid attempts")   #Error code
    pin = input('Invalid input, please try again: ')  
    attempt_count += 1
print("Pin validation successful.")

Enter your four digit pin:  1
Invalid input, please try again:  123
Invalid input, please try again:  1236

SystemExit: Too many invalid attempts

Type <i>Markdown</i> and LaTeX: a<sup>2</sup>

In [45]:
#Iterate over list of integers
l = [1,3,4,2,5,6]
for i in l:
    print(i)

1
3
4
2
5
6

In [46]:
#Iterate over a string
string = "Thắng Trương"
for ch in string:
    print(ch)

T
h
ắ
n
g

T
r
ư
ơ
n
g

In [47]:
#Iterate over a string - modify print using end
string = "Thắng Trương"
for ch in string:
    print(ch, end = ":")    #Default value of end = "\n"

T:h:ắ:n:g: :T:r:ư:ơ:n:g:

In [48]:
#Iterating over a dictionary
students_data = {1:['Sam', 24] , 2:['Rob',25], 3:['Jack', 26], 4:['Cornor',24], 5:['Trump',27]}
for key, val in students_data.items():
    print(key, val)

1 ['Sam', 24]
2 ['Rob', 25]
3 ['Jack', 26]
4 ['Cornor', 24]
5 ['Trump', 27]

In [49]:
#Iterate over keys of a dictionary
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [50]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = [0, 1, 2, 3, 4]
for i in L3:
    L3[i] = L1[i] - L2[i]
print(L3)

[2, 6, 15, 4, 8]

In [51]:
#Generate range of values.
print(range(1, 101))

range(1, 101)

In [52]:
l = list(range(1,101))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [53]:
#Iterate over range of values
for i in range(1, 101):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [54]:
#Different variations in range
#Gives numbers from 1 to 100 with a step count of 2
print(list(range(1, 100, 2) ))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [55]:
#Gives a reversed sequence of numbers from 100 to 1
print(list(range(100, 0, -1)))

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

####Ex. Write a program to print prime numbers between 1 to 20

In [56]:
for n in range(1, 20):    #n = 7
    flag = True
    for i in range(2, n):    #i = 2, 3, 4, 5, 6
        if n % i == 0:
            #n is not a prime number, it is better to exit the inner for loop
            print(n, "is not prime", i)
            flag = False
            break
    #Whether to print(i) or not
    if flag:    #n is prime
        print(n)

1
2
3
4 is not prime 2
5
6 is not prime 2
7
8 is not prime 2
9 is not prime 3
10 is not prime 2
11
12 is not prime 2
13
14 is not prime 2
15 is not prime 3
16 is not prime 2
17
18 is not prime 2
19

- Question

In [57]:
#Complete the Code
#Complete this piece of code for calculating the element-wise difference between two lists and storing them in L3.
#[Assume that the lists are of the same length.]

In [58]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = []
for i in range(L1):
    L3.append(L2 - L1)
print(L3)

TypeError: 'list' object cannot be interpreted as an integer

In [59]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = []
for i in range(len(L1) + 1):
    L3.pop(L2(i) - L1(i))
print(L3)

TypeError: 'list' object is not callable

In [60]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = []
for i in range(len(L2)):
    L3.append(L2[i] - L1[i])
print(L3)

[-2, -6, -15, -4, -8]

In [61]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = []
for i in range(len(L1)):
    L3.append(L2(i) - L1(i))
print(L3)

TypeError: 'list' object is not callable

<h5>Iterations</h5>
<b>Description</b><br>
You are given a list of string elements and asked to return a list which contains each element of the string in title case or in other words first character of the string would be in upper case and remaining all characters in lower case<br>
<br>
<b>Sample Input:</b><br>
['VARMA', 'raj', 'Gupta', 'SaNdeeP']<br>
<br>
<b>Sample Output:</b><br>
['Varma', 'Raj', 'Gupta', 'Sandeep']<br>
<br>
<b>Execution time limit</b><br>
10 seconds

In [62]:
input_list = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']
updated_list = []
for i in input_list:
    updated_list.append(i.capitalize())
print(updated_list)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [63]:
input_list = ['AmAn', 'PiHu', 'SNEHA']
updated_list = []
for i in input_list:
    updated_list.append(i.capitalize())
print(updated_list)

['Aman', 'Pihu', 'Sneha']

In [64]:
input_list = ['tom', 'PULAK', 'SNEHA', 'lUcky']
updated_list = []
for i in input_list:
    updated_list.append(i.capitalize())
print(updated_list)

['Tom', 'Pulak', 'Sneha', 'Lucky']

- Question

In [65]:
#What's with all the Negativity?
#Which of the following would create a list of negative even numbers from -100 to 0 (-100 included and 0 not included)?
#[More than one option may be correct.]

In [66]:
print(list(range(0, -101, 2)))

[]

In [67]:
print(list(range(-100, -1, 2)))

[-100, -98, -96, -94, -92, -90, -88, -86, -84, -82, -80, -78, -76, -74, -72, -70, -68, -66, -64, -62, -60, -58, -56, -54, -52, -50, -48, -46, -44, -42, -40, -38, -36, -34, -32, -30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2]

In [68]:
print(sorted(set(range(-2, -101, -2))))

[-100, -98, -96, -94, -92, -90, -88, -86, -84, -82, -80, -78, -76, -74, -72, -70, -68, -66, -64, -62, -60, -58, -56, -54, -52, -50, -48, -46, -44, -42, -40, -38, -36, -34, -32, -30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2]

In [69]:
l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
print(l)

[-100, -98, -96, -94, -92, -90, -88, -86, -84, -82, -80, -78, -76, -74, -72, -70, -68, -66, -64, -62, -60, -58, -56, -54, -52, -50, -48, -46, -44, -42, -40, -38, -36, -34, -32, -30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2]

In [70]:
#Of Fish, Birds, and Mammals
#Using the following document, answer the following questions.
#What will the output of the following code be?

In [71]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

<h2 style = "color:Brown">Comprehensions</h2>

In [72]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]
l2 = []
for i in l1 :
    l2.append(len(i))
print(l2)

[11, 5, 4, 6, 14]

####The Functional Approach

In [73]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]
print(l1)

['automobiles', 'Honda', 'Benz', 'Suzuki', 'Morris Garages']

In [74]:
l2 = []
for word in l1:
    l2.append(len(word))
print(l2)

[11, 5, 4, 6, 14]

#### The Functional Approach

l2 = [len(i) for i in l1]
print(l2)

In [75]:
#Example on list comprehension
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]
#Create a list consisting of length of each element from the above list
l2 = [len(i) for i in l1]
print(l2)

[11, 5, 4, 6, 14]

In [76]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = []
for  i in range(len(L1)):
    L3.append(L1[i] - L2[i])
print(L3)

[2, 6, 15, 4, 8]

In [77]:
#Using list comprehension
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = [L1[i] - L2[i] for i  in range(0, len(L1))]
print(L3)

[2, 6, 15, 4, 8]

In [78]:
#Iterating over l1 and l2 simultaneously
for i,j in zip(l1, l2):
    print(i, " - ", j)

automobiles  -  11
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris Garages  -  14

#### Dictionary comprehension

In [79]:
#Example on dictionary comprehension
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]
#Create a dictionary consisting of element and length of each element from the above list
d = {i : len(i) for i in l1}
print(d)

{'automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

In [80]:
#Creating a dictionary consisting of even natural numbers as key and square of each element as value 
ordinary_dict = {}
for i in range(2, 21):
    if i % 2 == 0:
        ordinary_dict[i] = i ** 2
print(ordinary_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [81]:
#Using dictionary comprehension
updated_dict = {i : i ** 2 for i in range(2, 21) if i % 2 == 0}
print(updated_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

#### Set Comprehensions

#### Ex . Write a program which takes a word as input from user and returns vowels from the word

In [82]:
word = 'Victory'

In [83]:
vowels = {i for i in word if i in "aeiou"}
print(vowels)

{'i', 'o'}

In [84]:
vowels = {char for char in word if char in "aeiou"}
print(vowels)

{'i', 'o'}

In [85]:
#Normal For loop
list1 = []
for n in range(1, 11):
    list1.append(n * 6)
print(list1)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [86]:
#List comprehension
#[<the_expression> for <the_element> in <the_iterable>]
list1 = [n * 6 for n in range(1,11)]
print(list1)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [87]:
#Applying list comprehension with a condition
list1 = []
for n in range(1, 11):
    if n % 2 == 0:
        list1.append(n * 6)
print(list1)

[12, 24, 36, 48, 60]

In [88]:
#Using list comprehensions
#[<the_expression> for <the_element> in <the_iterable> if <the_condition>]
list1 = [n * 6 for n in range(1, 11) if n % 2 == 0]
print(list1)

[12, 24, 36, 48, 60]

In [89]:
#Applying list comprehension with if-else condition
list1 = []
for n in range(1, 11):
    if n % 2 == 0:
        list1.append(n * 6)
    else:
        list1.append(n * 5)
print(list1)

[5, 12, 15, 24, 25, 36, 35, 48, 45, 60]

In [90]:
#Using list comprehensions
#<the_expression> if <the_condition> else <other_expression> for <the_element> in <the_iterable>]
list1 = [n * 6 if n % 2 == 0 else n * 5 for n in range(1, 11)]
print(list1)

[5, 12, 15, 24, 25, 36, 35, 48, 45, 60]

In [91]:
#Applying list comprehension with Nested loops
list1 =[]
for i in range(1, 4):
    for j in range(1, 11):
        list1.append(i * j)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [92]:
#Using list comprehensions
#[ <the_expression> for <element_a> in <iterable_a> (optional if <condition_a>)
#for <element_b> in <iterable_b> (optional if <condition_b>)
#for <element_c> in <iterable_c> (optional if <condition_c>)
#... and so on ...]
list1 = [i * j for i in range(1, 4) for j in range(1, 11)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

<h5>List Comprehension</h5>
<b>Description</b><br>
You are given an integer 'n' as the input. Create a list comprehension containing the squares of the integers from 1 till n^2 (including 1 and n), and print the list.<br>
<br>
<b>Sample Input:</b><br>
4<br>
<br>
<b>Sample Output:</b><br>
[1, 4, 9, 16]<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [93]:
n = 4
final_list = [n ** 2 for n in range(1, n+1)]
print(final_list)

[1, 4, 9, 16]

<h5>List Comprehensions</h5>
<b>Description</b><br>
Extract the words that start with a vowel from a list input_list=[wood, old, apple, big, item, euphoria] using list comprehensions.<br>
<br>
<b>Sample Input:</b><br>
['wood', 'old', 'apple', 'big', 'item', 'euphoria']<br>
<br>
<b>Sample Output:</b><br>
['old', 'apple', 'item', 'euphoria']<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [94]:
input_list = ['wood', 'old', 'apple', 'big', 'item', 'euphoria']
final = [word for word in input_list if word[0].lower() in 'aeiou']
print(final)

['old', 'apple', 'item', 'euphoria']

- Question

In [95]:
#Dictionary Comprehension
#Following is the code to create a dictionary where the keys are multiples of 3 among the first 100 natural numbers and each value is the cube of the key.
input_list = list(range(1, 100))
output_dict = {}
for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val ** 3
print(output_list)
#Now, what would be corresponding dictionary comprehension for the code involved in dictionary creation?

NameError: name 'output_list' is not defined

In [96]:
output_dict = [val : val ** 3 for val in input_list if val % 3 = 0]
print(output_list)

SyntaxError: invalid syntax (970454001.py, line 1)

In [97]:
output_dict = {for val in input_list if val % 3 == 0 val : val ** 3}
print(output_list)

SyntaxError: invalid syntax (3534781971.py, line 1)

In [98]:
output_dict = {if val % 3 == 0 val : val ** 3 for val in input_list}
print(output_list)

SyntaxError: invalid syntax (475744090.py, line 1)

In [99]:
output_dict = {val : val ** 3 for val in input_list if val % 3 == 0}
print(output_list)

NameError: name 'output_list' is not defined

In [100]:
#List Comprehension
#What will the output of the following code be?
print([i + j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [101]:
#Dictionary Comprehension
#What will the output of the following code be?
d = {x.upper() : x * 3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

<h2 style = "color:Brown">Functions</h2>

#### Ex. Write a function which takes a value as a parameter and returns its factorial

In [102]:
#5! = 5 * 4 * 3 * 2 * 1 = 120
#n! = n * (n-1) * (n-2) * ... * 3 * 2 * 1
def factorial(n):
    fact = 1
    for i in range (1, n + 1):
        #fact = fact * i
        fact *= i
    return fact
factorial(5)

120

<h5>Function</h5>
<b>Description</b><br>
Create a function squared(), which takes x and y as arguments and returns the x ** y value. For e.g., if x = 2 and y = 3 , then the output is 8.<br>
<br>
<b>Sample Input:</b><br>
['6', '7']<br>
<br>
<b>Sample Output:</b><br>
279936<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [103]:
input_list = ['3', '3']
x = int(input_list[0])
y = int(input_list[1])
def squared(x,y):
   return x**y
print(squared(x,y))

27

In [104]:
input_list = ['4', '3']
x = int(input_list[0])
y = int(input_list[1])
def squared(x,y):
   return x**y
print(squared(x,y))

64

In [105]:
input_list = ['5', '2']
x = int(input_list[0])
y = int(input_list[1])
def squared(x,y):
   return x**y
print(squared(x,y))

25

In [106]:
input_list = ['6', '7']
x = int(input_list[0])
y = int(input_list[1])
def squared(x,y):
   return x**y
print(squared(x,y))

279936

#### Function Arguments

In [107]:
def func(name, age = 35):  #Default parameter
    print("name: ", name)
    print("age: ", age)

In [108]:
func("Thắng", 29)

name:  Thắng
age:  29

In [109]:
func("Thắng")

name:  Thắng
age:  35

In [110]:
def func(name, age = 35, city = "Hà Nội"):
    print("name : ", name)
    print("age : ", age)
    print("city : ", city)
func("Thắng", city = "Hồ Chí Minh") #Key-word argument

name :  Thắng
age :  35
city :  Hồ Chí Minh

In [111]:
func("Thắng", "Hồ Chí Minh")

name :  Thắng
age :  Hồ Chí Minh
city :  Hà Nội

In [112]:
func("Thắng", 29, "Hồ Chí Minh") #Key-word argument

name :  Thắng
age :  29
city :  Hồ Chí Minh

In [113]:
def var_func(*args):
    print(args)
var_func(1, 3, "abc")

(1, 3, 'abc')

In [114]:
def list_diff(list1,list2):
    list3 = []
    for  i in range(0, len(list1)):
        list3.append(list1[i] - list2[i])
    return list3
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
print(list_diff(L1, L2))

[2, 6, 15, 4, 8]

- Question

In [115]:
#To Err is Human
#Identify the error/errors in the given code to apply the function 
#(x ∗ y + x + y) on x, y and finally return the value.
func(x, y):
    z = x * y + x + y
func(2)
#(More than one option may be correct.)

#Keyword missing in the function definition -> Correct
#Return the statement missing in the code -> Correct
#Error in function call -> Correct
#Error in the equation used in the code -> Incorrect

SyntaxError: invalid syntax (1104459724.py, line 4)

In [116]:
#Function Call for a Function Call
#What would be the output of the following code?
def func(x, y = 1):
    z = x * y + x + y
    return z
func(2, func(3))

23

In [117]:
#Function Call for a Function Call - II
#What would be the output of the following code?
def func(x, y):
    z = x * y + x + y
    return z
func(2, func(3))

TypeError: func() missing 1 required positional argument: 'y'

In [118]:
#Function Call for a Function Call Returns
#What is the output of the following code?
def func(x = 1 ,y = 2):
    z = x * y + x + y
    return z
func(2, func(3))

35

In [119]:
#Function Parameters
#Functions can be used inside a list comprehension too. An example to create a list, the elements of which would be the result of applying the function x² − 2x − 2 on each element in the list = [2, 7, 8, 10, 3] is shown below:
L1 = [2, 7, 8, 10, 3]
def func(y):
    return y ** 2- 2 * y - 2
ans_list = [func(x) for x in L1]
print(ans_list)
#The missing parts of the code include _____.

[-2, 33, 46, 78, 1]

<h5>Lambda</h5>
<b>Description</b><br>
Create a lambda function 'greater', which takes two arguments x and y and return x if x>y otherwise y. If x = 2 and y= 3, then the output should be 3.<br>
<br>
<b>Sample Input:</b><br>
['9', '3']<br>
<br>
<b>Sample Output:</b><br>
9<br>
<br>
<b>Execution time limit</b><br>
15 secondsds

In [120]:
input_list = ['6', '5']
a = int(input_list[0])
b = int(input_list[1])

greater = lambda a,b: a if a>b else b

print(greater(a,b))

6

In [121]:
input_list = ['2', '3']
a = int(input_list[0])
b = int(input_list[1])

greater = lambda a,b: a if a>b else b

print(greater(a,b))

3

In [122]:
input_list = ['9', '3']
a = int(input_list[0])
b = int(input_list[1])

greater = lambda a,b: a if a>b else b

print(greater(a,b))

9

- Question

In [123]:
#Lambdas
#What is the output of this program?

min = (lambda x, y: x if x < y else y)
min(101 * 99, 102 * 98)

9996

<h2 style = "color:Brown">Lambda Function</h2>

In [124]:
#Write a lambda function to check a number is even or odd
f = lambda x: "even" if x % 2 == 0 else "odd"
print(f(10))

even

<h2 style = "color:Brown">map - filter - reduce</h2>

In [125]:
countries = ["India", "Japan", "Italy", "Vietnam"]
f = lambda x : x.upper()
print(f("India"))

INDIA

In [126]:
capital_countries = []
for country in countries:
    capital_countries.append(f(country))
print(capital_countries)

['INDIA', 'JAPAN', 'ITALY', 'VIETNAM']

In [127]:
print(map(lambda x : x.upper(), countries))

<map object at 0x00000191503AFF10>

In [128]:
#map (function, collection_or_list)
print(list(map(lambda x : x.upper(), countries)))

['INDIA', 'JAPAN', 'ITALY', 'VIETNAM']

#### Some more examples on map - filter - reduce

In [129]:
L1 = [2, 4, 5]
f_square = lambda x : x ** 2
print(list(map(f_square, L1)))

[4, 16, 25]

In [130]:
L1 = [2, 4, 5]
print(map(lambda x : x ** 2, L1))
print(list(map(lambda x : x ** 2, L1)))

<map object at 0x00000191503AFB50>
[4, 16, 25]

#### Defining a function and using it in map

In [131]:
L1 = [2, 4, 5]
def squareit(n):
    return n ** 2
print(list(map(squareit, L1)))

[4, 16, 25]

In [132]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x : x * 2, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [133]:
def multi(x):
    return x * 2
list_numbers = [1, 2, 3, 4]
sample_map = map(multi, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

#### Filter function to return the multiples of 3

In [134]:
my_list = [3, 4, 5, 6, 7, 8, 9]
divby3 = lambda x : x % 3 == 0

In [135]:
print(divby3(6))

True

In [136]:
div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

#### Ex. Write a python program to count the students above age 18

In [137]:
students_data = {1:['Sam', 15] , 2:['Rob', 18], 3:['Kyle', 16], 4:['Cornor', 19], 5:['Trump', 20]}
print(students_data)

{1: ['Sam', 15], 2: ['Rob', 18], 3: ['Kyle', 16], 4: ['Cornor', 19], 5: ['Trump', 20]}

In [138]:
print(len(list(filter(lambda x : x[1] > 18, students_data.values()))))

2

#### Reduce to return product of elements

In [139]:
from functools import reduce
q = reduce(lambda x, y : x * y, range(1, 4))
print(q)

6

In [140]:
from functools import reduce
list_1 = ['Paul', 'Ted']
reduce(lambda x, y : x + y, list_1)

'PaulTed'