<h5>Map Function</h5>
<b>Description</b><br>
Using the function Map, count the number of words that start with ‘S’ in input_list.<br>
<br>
<b>Sample Input:</b><br>
['Santa Cruz', 'Santa fe', 'Mumbai', 'Delhi']<br>
<br>
<b>Sample Output:</b><br>
2<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [1]:
input_list = ['Santa Cruz', 'Santa fe', 'Mumbai', 'Delhi']
count = sum(map(lambda x: x[0] == 'S', input_list))
print(count)

2

In [2]:
input_list = ['Hyderabad', 'Chennai', 'Mumbai', 'Delhi']
count = sum(map(lambda x: x[0] == 'S', input_list))
print(count)

0

In [3]:
input_list = ['Santa Cruz', 'Agra', 'Mumbai', 'Delhi']
count = sum(map(lambda x: x[0] == 'S', input_list))
print(count)

1

<h5>Map Function</h5>
<b>Description</b><br>
Create a list ‘name’ consisting of the combination of the first name and the second name from list 1 and 2 respectively.<br>
<br>
<b>Sample Input:</b><br>
[['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]<br>
<br>
<b>Sample Output:</b><br>
['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']<br>
Note: Add a space between first name and last name.<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [4]:
input_list = [['A', 'C', 'E'], ['B', 'D', 'F']]
first_name = input_list[0]
last_name = input_list[1]
name = list(map(lambda x, y: x + " " + y, first_name, last_name))
print(list(name))

['A B', 'C D', 'E F']

In [5]:
input_list = [['Harsh', 'Aman', 'Krishna'], ['S', 'Sarkar', 'A']]
first_name = input_list[0]
last_name = input_list[1]
name = list(map(lambda x, y: x + " " + y, first_name, last_name))
print(list(name))

['Harsh S', 'Aman Sarkar', 'Krishna A']

In [6]:
input_list = [['Pnkur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
first_name = input_list[0]
last_name = input_list[1]
name = list(map(lambda x, y: x + " " + y, first_name, last_name))
print(list(name))

['Pnkur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [7]:
input_list = [['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
first_name = input_list[0]
last_name = input_list[1]
name = list(map(lambda x, y: x + " " + y, first_name, last_name))
print(list(name))

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

<h5>Filter Function</h5>
<b>Description</b><br>
Extract a list of numbers that are multiples of 5 from a list of integers named input_list.<br>
<br>
<b>Sample Input:</b><br>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]<br>
<br>
<b>Sample Output:</b><br>
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]<br>
Note: Use the filter() function.<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [8]:
input_list = [20, 21, 22, 23, 24, 25]
list_answer = list(filter(lambda x: x % 5 == 0, input_list))
print(list_answer)

[20, 25]

In [9]:
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
list_answer = list(filter(lambda x: x % 5 == 0, input_list))
print(list_answer)

[5, 10, 15]

In [10]:
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
list_answer = list(filter(lambda x: x % 5 == 0, input_list))
print(list_answer)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

<h5>Filter Function</h5>
<b>Description</b><br>
You are given a list of strings such as input_list = ['hdjk', 'salsap', 'sherpa'].<br>
Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.<br>
<br>
<b>Sample Input:</b><br>
['soap', 'sharp', 'shy', 'silent', 'ship', 'summer', 'sheep']<br>
<br>
<b>Sample Output:</b><br>
['soap', 'sharp', 'ship', 'sheep']<br>
Note: Use the filter() function.<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [11]:
input_list = ['hard', 'warm', 'still', 'silent', 'ship', 'summer', 'sheep']
sp = list(filter(lambda x: (x[0] == 's') & (x[-1] == 'p'), input_list))
print(sp)

['ship', 'sheep']

In [12]:
input_list = ['soap', 'sharp', 'shy', 'quiet', 'autumn', 'winter', 'sheep']
sp = list(filter(lambda x: (x[0] == 's') & (x[-1] == 'p'), input_list))
print(sp)

['soap', 'sharp', 'sheep']

In [13]:
input_list = ['soap', 'sharp', 'shy', 'silent', 'ship', 'summer', 'sheep']
sp = list(filter(lambda x: (x[0] == 's') & (x[-1] == 'p'), input_list))
print(sp)

['soap', 'sharp', 'ship', 'sheep']

In [14]:
input_list = ['soap', 'sharp', 'shy', 'silent', 'ship', 'summer', 'sheep']
sp = list(filter(lambda x: (x[0] == 's') & (x[-1] == 'p'), input_list))
print(sp)

['soap', 'sharp', 'ship', 'sheep']

<h5>Reduce Function</h5>
<b>Description</b><br>
Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.<br>
If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.<br>
<br>
<b>Sample Input:</b><br>
['All', 'you', 'have', 'to', 'fear', 'is', 'fear', 'itself']<br>
<br>
<b>Sample Output:</b><br>
﻿All you have to fear is fear itself<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [15]:
input_list = ['a', 'Life', 'is', 'good']
from functools import reduce
string1 = str(reduce(lambda x, y: x + " " + y, input_list))
print(string1)

a Life is good

In [16]:
input_list = ['Move', 'out', 'of', 'your', 'comfort', 'zone']
from functools import reduce
string1 = str(reduce(lambda x, y: x + " " + y, input_list))
print(string1)

Move out of your comfort zone

In [17]:
input_list = ['I', 'am', 'the', 'one', 'who', 'knocks']
from functools import reduce
string1 = str(reduce(lambda x, y: x + " " + y, input_list))
print(string1)

I am the one who knocks

In [18]:
input_list = ['All', 'you', 'have', 'to', 'fear', 'is', 'fear', 'itself']
from functools import reduce
string1 = str(reduce(lambda x, y: x + " " + y, input_list))
print(string1)

All you have to fear is fear itself

<h5>Reduce Function</h5>
<b>Description</b><br>
You are given a list of numbers such as input_list = [31, 63, 76, 89].<br>
Find and print the largest number in input_list using the reduce() function.<br>
<br>
<b>Sample Input:</b><br>
[65, 76, 87, 23, 12, 90, 99]<br>
<br>
<b>Sample Output:</b><br>
﻿99<br>
<br>
<b>Execution time limit</b><br>
15 seconds

In [19]:
input_list = [23, 1456, 1457, 2081, 22995]
from functools import reduce
answer = reduce(lambda a, b : a if a > b else b, input_list)
print(answer)

22995

In [20]:
input_list = [65, 76, 87, 23, 12, 90, 98]
from functools import reduce
answer = reduce(lambda a, b : a if a > b else b, input_list)
print(answer)

98

In [21]:
input_list = [65, 76, 87, 23, 12, 90, 99]
from functools import reduce
answer = reduce(lambda a, b : a if a > b else b, input_list)
print(answer)

99