#### Lists:

What is the output of the following?

In [1]:
s = 'a$b@c@d'
print(s.split('@','$'))

TypeError: 'str' object cannot be interpreted as an integer

#### Lists:

What is the code to print the element 'banana'?

In [2]:
fruits = ['apple', 'mango', ['grapes', 'papaya'], ('banana', 'pomegranate')]
print(fruits[4][1])

IndexError: list index out of range

In [3]:
fruits = ['apple', 'mango', ['grapes', 'papaya'], ('banana', 'pomegranate')]
print(fruits[4])

IndexError: list index out of range

In [4]:
fruits = ['apple', 'mango', ['grapes', 'papaya'], ('banana', 'pomegranate')]
print(fruits[3][0])

banana

In [5]:
fruits = ['apple', 'mango', ['grapes', 'papaya'], ('banana', 'pomegranate')]
print(fruits[3])

('banana', 'pomegranate')

#### Lists:

Find the output of the following code.

In [6]:
list_1 = ['red' , 'orange', 'blue', 'green', 'black', 'white']
print(list_1.sort())

None

#### Lists:

What will the output of the following code be?

In [7]:
num_1=[9,4,2,7]
num_2=[8,3,6,1]
print(sorted(num_1))
print(num_1)
print(num_2.sort())
print(num_2)

[2, 4, 7, 9]
[9, 4, 2, 7]
None
[1, 3, 6, 8]

#### Tuples:

Find the output of the following code.

In [8]:
l = ['paris','india','china','london']
print(tuple(l+['sri lanka']))

('paris', 'india', 'china', 'london', 'sri lanka')

#### Tuples:

What is the output of the following code?

In [9]:
var=(5)
print(type(var))

<class 'int'>

#### Tuples:

What is the output of the code given below?

In [10]:
tup=([1,3,5],"abcd",(2,4),6)
tup[0][2]=7
print(tup)

([1, 3, 7], 'abcd', (2, 4), 6)

#### Sets:

What will the output of the following code be?

In [11]:
a= {1,2,4,5}
b= {5,6,7,8}
print(a-b)

{1, 2, 4}

#### Sets:

What will the output of the following code be?

In [12]:
s= {3,4,5}
print(s*2)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

#### Sets:

What will the output of the following code be?

In [13]:
numbers= {1,0,6,1,4,0,7}
print(len(numbers))

5

#### Dictionaries:

What will the output of the following Python code be?

In [14]:
dict= {'ab':12,'cd':34,'ef':56}
print(dict[1])

KeyError: 1

#### Dictionaries:

What will the output of the following code be?

In [15]:
marks= {'John':45,'Alex':60}
print(marks.keys())

dict_keys(['John', 'Alex'])

#### Dictionaries:

What is the output of the following code?

In [16]:
d = {"Python":40, "R":45}
"Python" in d

True

#### Looping through data structures:

What will the output of the following code be?

In [17]:
input_dict= {1:"one",2:"two",3:"three"}
for i in input_dict:
  print(i)

1
2
3

#### Looping through data structures:

Find the output of the following code snippet.

In [18]:
input_str="I love programming in python"
count=0
l=['a','e','i','o','u']
for i in input_str.lower():
  if i in l:
  	count=count+1
print(count)

8